@model List<CIMS.Models.LicensedCustomers>
@{
    ViewBag.Title = "Application Administrators List";
    Layout = "~/Views/Shared/_InternalLayout.cshtml";
}


<style>
    .cmbEmp {
        pointer-events: none;
        opacity: 0.40;
    }
</style>



<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Application Administrators</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href='@Url.Content("~/Home/Index")'>Home</a></li>
            <li class="active">Application Administrators</li>
        </ol>
    </div>

</div>





<div id="msgDiv">
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">@TempData["SuccessMessage"]</div>
    }
    @if (TempData["ErrorMessage"] != null)
    {

        <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
    }
</div>

<div class="panel panel-default">
    <div class="panel-heading clearfix custom-head">
        <h3 class="box-title m-b-0">Application Administrators List</h3>
        @* <h3 class="panel-title">Employee List</h3>*@

        <div class="panel-options">
            <div class="right-btn">
               
                <a href='@Url.Content("~/Home/RegisterCustomer")' class="btn btn-primary"><i class="fa fa-plus"></i> Add Application Administrator</a>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <div class="table-responsive">
            <table id="employeeTable" class="table table-striped dataTable no-footer">
                <thead>
                    <tr>
                        <th>
                            Logo
                        </th>

                        <th>
                            First Name
                        </th>
                        <th>
                            Last Name
                        </th>
                      
                        <th>
                            Action
                        </th>

                    </tr>
                </thead>
                @if (Model.Count() > 0)
                {
                    foreach (var items in Model)
                    {

                        <tr class="empTR"  style="cursor:pointer">
                           <td>
                               <img src="@items.CustomerLogo" hieght="70" width="70" /> 
                               
                           </td>
                            <td>@items.FirstName</td>
                            <td>@items.LastName</td>
                           

                            <td>
                                <a href='/Home/RegisterCustomer?Id=@items.Id'  class="btn small btn-info btn-sm btn-icon" title="Edit Administrator" ><i class="fa fa-pencil"></i></a>
                                <a class="btn btn-danger small btn-sm delete-sm" href='javascript:;' onclick='DeleteCustomer(@items.Id,this);' title="Delete Administrator"><i class='fa fa-trash'></i></a>
                              
                            </td>
                            

                        </tr>
                    }
                }

            </table>

        </div>
    </div>

</div>

    <script>
        function DeleteCustomer(id, caller) {

            if (confirm('Are you sure to delete?')) {
                $.ajax({
                    url: '@Url.Content("~/Home/DeleteCustomer")',
                    data: JSON.stringify({ 'Id': id }),
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data) {
                        if (data == "success") {
                            if ($('#employeeTable>tbody tr').length == 1) {
                                $('#employeeTable').remove();
                                $('#msgDiv').html('<div class="alert alert-success">Customer has been deleted Suceesfully.</div>');
                                window.scrollTo(0, 0);
                            }
                            else {
                                $(caller).parents('tr:first').remove();
                                $('#msgDiv').html('<div class="alert alert-success">Customer has been deleted Suceesfully.</div>');
                                window.scrollTo(0, 0);
                            }
                        } else {

                        }

                    }
                });
            }
            }
        
    </script>
