@model CIMS.Models.UserModel
@{
    Layout = "~/Views/Shared/_InternalLayout.cshtml";
}

<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Change Password</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href='@Url.Content("~/Home/Index")'>Home</a></li>
            <li class="active">Change Password</li>
        </ol>
    </div>
</div>
<div id="msgDiv">
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">@TempData["SuccessMessage"]</div>
    }
    @if (TempData["ErrorMessage"] != null)
    {

        <div class="alert alert-danger" id="divdanger">@TempData["ErrorMessage"]</div>
    }
</div>
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("ChangePassword", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", autocomplete = "off", id = "frmUserChangePassword" }))
        {
            <div class="col-md-6">
                @Html.HiddenFor(m => m.ID)
                <div class="white-box clearfix" style="min-height: 377px;">
                    <div class="row">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Old Password</label>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label class="control-label">New Password</label>
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label class="control-label">Confirm Password</label>
                        @Html.PasswordFor(m => m.ConfirmNewPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ConfirmNewPassword, "", new { @class = "text-danger" })
                    </div>

                    <input type="submit" value="Change password" class="btn btn-default" />

                </div>
            </div>
        }
    </div>
</div>

